@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: #0e7e12;
}
.card {
  background-color: white;
  width: 200px;
  margin: 0 auto;
  margin-top: 5%;
  padding: 5px;
  box-shadow: 6px 7px 20px 0px;
}
.values {
  margin: 5%;
}

.red-suit {
  color: red;
}
.black-suit {
  color: black;
}
#symbol1 {
  font-size: 350%;
}
#value {
  font-size: 500%;
  text-align: center;
}
#symbol2 {
  transform: rotate(180deg);
  font-size: 350%;
}

#changeSizeButton {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  box-shadow: 6px 7px 20px 0px;
}
#reloadButton {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  margin: 13px 43%;
  box-shadow: 6px 7px 20px 0px;
}
